/node_modules
/vendor
/public/storage
/storage/*.key
/.env
/.env.*
/.env.backup
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.DS_Store
/public/build

/.phpunit.result.cache
